<!-- Home Section -->
<section class="licorice text-light  pt-lg-5 text.center text-sm-start" style="height: 60vh;">
  <div class="container">
    <div class="d-sm-flex p-5 align-items-center justify-content-between">
      <div class="my-5">
        <h2 class="my-2">Our <span class="old-gold">Divisions</span></h2>
        <button class="btn cornelRed text-light btn-md" id="shop">Shop Online</button>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="" alt="">
    </div>
  </div>
</section>

<!-- Quote Section -->

<section class="bg-warning text-light p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h2 class="mb-3 mb-md-0">Request A Quote</h2>

      <div class="input-group news-input">
        <input type="text" class="form-control" placeholder="Contact Number">
        <button class="btn btn-dark" type="button">Submit</button>
      </div>
    </div>
  </div>
</section>

<!-- Auto-Paint Division -->
<section id="about" class="p-5 my-component text-dark">
  <div class="container">

    <h3 class="text-center text-dark">Auto-Paint Supply Division</h3>

    <p class="lead text-center">AutoHub Paints stock and supply paint and other related products from Luxor, one of South Africa’s market leaders paint industry. This brand name ensures a manufacturer lifetime guarantee on all paint and products supplied.
    </p>


    <div class="row align-items-centre" >

      <div class="col-sm-6 p-5">
        <h4 class="text-dark">Product Range:</h4>
        <ul class="lead ">
          <li>
              <p class="text-dark" href="">Computerized Colour Matching</p>
          </li>
          <li>
              <p class="text-dark" href="">2K Car Paints</p>
          </li>
          <li>
              <p class="text-dark" href="">Mirror Finish Clears</p>
          </li>
          <li>
              <p class="text-dark" href="">Base Coats</p>
          </li>

          <li>
            <p class="text-dark" href="">Quick Drying Enamels</p>
          </li>

          <li>
            <p class="text-dark" href="">Body Fillers</p>
          </li>

          <li>
          <p class="text-dark" href="">Primers</p>
          </li>

         <li>
            <p class="text-dark" href="">Panel and Spray Equipment</p>
          </li>
        </ul>
        </div>

        <div class="col-md-5 p-5">
          <img class="img-fluid" src="https://altechpaints.co.za/wp-content/uploads/2022/05/automotive-paint-store.jpg" alt="">
        </div>


      <div>
      </div>


      </div>




  </div>


</section>


