<!-- Newsletter -->

<section class="bg-warning text-light p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h2 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h2>

      <div class="input-group news-input">
        <input type="text" class="form-control" placeholder="Enter Email">
        <button class="btn btn-dark" type="button">Submit</button>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->

<section id="about" class="p-5">
  <div class="container">
    <div class="row" >

      <div class="col-md-6 py-5">


      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.jdpower.com/ArticleImages/2019%20Porsche%20Cayenne%20Turbo%20_3_720.jpg" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.jdpower.com/JDP_2024%20Cadillac%20XT4%20Front%20Quarter%20View%20Action.jpg" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.jdpower.com/2024%20Mercedes-Benz%20E-Class%20AMG%20Line%20Front%20Quarter%20View%20European%20model.jpg" class="img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

      <div class="col-md-6 p-5">
        <h3>About Us</h3>
        <p class="lead">AutoHub has become the epitome of a one-stop automotive shop, satisfying all your automotive needs under one roof. Rorke’s Autoworld, now known as AutoHub was established in 2010 as a hobby out of a double garage on a farm in Walkerville, south of Johannesburg. Driven by a Passion to Innovate the automotive industry for customer convenience and satisfaction. The company was registered in 2014 and moved premises to a 200m automotive hub based in the heart of Johannesburg CBD. AutoHub consists of interrelated automotive divisions to ensure every possible automotive need is satisfied all at the convenience of a centralized location. Each Division consists of highly skilled, ambitious staff that have all aligned themselves with the vision of the organization. They are all driven by the same passion to innovate the automotive industry and satisfy all customer’s needs through quality and reliable workmanship.
        </p>


        <!-- <a href="#" class="btn btn-light mt-3" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>Read More</a> -->
      </div>
    </div>

  </div>


</section>


<!-- More About Section -->

<!-- Vision section -->

<section class="p-5 bgTwo">

  <div class="container">
  <div class="d-md-flex justify-content-between align-items-center p-5">
    <div>
      <h3>Skills Development</h3>
      <p class="lead text-left text-light">Over 50% of all employees at AutoHub started as unskilled labourers and are now highly skilled and talented in their respective fields. AutoHub aspires tofund and motivate the team to achieve their qualifications in an automotive field to their choice. AutoHub has also committed to initiatiate an internship programme every year. They will be trained in their desired field in the automotive industry with the end goal of full time employment for these individuals.
    </div>
    <div class="col-md">

      <svg xmlns="http://www.w3.org/2000/svg" width="150" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
      </svg>
    </div>

  </div>

  </div>

  </section>


<section id="about" class="p-5">
  <div class="container">
    <div class="row" >
      <div class="col-md-6 p-5">
        <img class="img-fluid" src="https://roadguardinterlock.com/wp-content/uploads/2019/09/car-repair-with-an-interlock-device.jpg" alt="">
      </div>

      <div class="col-md-6 p-5">
        <h3>Our Vision</h3>
        <p class="lead">AutoHub aspires to innovate the automotive industry for customer convenience and satisfaction. We will become an industry leader and a household name across the Southern Hemisphere, by building a reputation for the best customer service and satisfying any automotive need.
          We Strive for reliable on-time delivery of quality parts at the most competitive prices in the automotive industry. Our organization is based on values that make us socially and environmentally responsible with a commitment to transformation and building a better future for all.
        </p>
      </div>
      <div>


      </div>
    </div>

  </div>


</section>


<section class="p-5 tomato">

  <div class="container">
  <div class="d-md-flex justify-content-between align-items-center p-5">
    <div>
      <h3>Our Mission Statement</h3>
      <p class="lead text-left text-light">AutoHub commits to deliver what we promise and strengthen our reputation through reliability, trust and honesty. Employee skills and qualifications will be promoted by creating structured career development for our team through reliability.
        We pride ourselves on establishing mutually beneficial relationships with our clients, providing them with a range of products and services that meet their every need.
      </p>
    </div>
    <div class="col-md">

      <svg xmlns="http://www.w3.org/2000/svg" width="150" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </svg>
    </div>

  </div>

  </div>

  </section>


<section id="about" class="p-5">
  <div class="container">
    <div class="row align-items-centre justify-content" >
      <div class="col-md-6 p-5">
        <img class="img-fluid" src="https://s.hdnux.com/photos/37/47/77/8290255/4/1200x0.jpg" alt="">
      </div>

      <div class="col-md p-5">
        <h3>Culture of The Organization</h3>
        <br>
                <ul class="lead">
                    <li>
                        <p class="text-dark" href="">Adding family value to all suppliers and client relations.</p>
                    </li>
                    <li>
                        <p class="text-dark" href="">Pride in all workmanship and to always strive for excellence, exceeding expectations in everything we do</p>
                    </li>
                    <li>
                        <p  class="text-dark" href="">Passion and ambition is the heart of every staff member.</p>
                    </li>
                    <li>
                        <p class="text-dark" href="">Put your heart in everything you do and you will guarantee satisfaction</p>
                    </li>
                </ul>
      </div>
      <div>


      </div>
    </div>

  </div>


</section>



<section class="my-component text-dark p-5">

  <div class="container">
  <div class="d-md-flex justify-content-between align-items-center p-5">


    <div class="text-center">
      <h3>Looking Ahead</h3>
      <p class="lead">Our Purpose is for your Automotive convenience and satisfaction.</p>
      <p><span class="text-warning lead ">We are: Driven by Passion</span></p>

      <p class="lead">
        AutoHub was established with one goal in mind, to change how things are done in the modern day automotive industry. We have achieved this on many levels, but we will never stop learning and adapting our operations to better accommodate and satisfy our clients’ needs
      </p>
      <br>

      <p class="lead"><span class="text-warning">We live by:</span></p>

      <p class="lead"><span class="text-danger">UBUNTU</span>, togetherness. ‘You are a person through another person’
        Helping one another and sharing knowledge to achieve the greater goal is crucial to our success in life.</p>
    </div>

  </div>

  </div>

  </section>



<!-- Services -->

<section class="p-5 text-center text-light text-dark">
  <div class="container">

    <div class=" p-5 d-flex justify-content-center">
      <h3 class="text-center">Services</h3>
    </div>


    <div class="row g-4">


      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Auto-Paint Supply Division</h5>
            <p>AutoHub Paints stock and supply paint and other related products from Luxor.</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Auto Body Division</h5>
            <p>AutoHub offers customer service with no insurance or limited funds to pay high insurance excess costs.</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Mechanical Division</h5>
            <p>AutoHub mechanical division was perfectly designed for customers with no motor plan.</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">4X4 Division</h5>
            <p>AutoHub 4X4 Supplies and Fits a large range of 4X4 Accessories and Tow Bars</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row g-4 py-4">


      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">Tyres & Suspension Division</h5>
            <p>View a whole range of our Products & Services catered to suit your automotive needs.</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">Parts Division</h5>
            <p>AutoHub Parts stock a large range of new & second hand auto body  and mechanical parts for all vehicles.</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack">
          <div class="card-body text-center text-light">
            <h5 class=" lead card-title lightText">On Site Affiliations</h5>
            <p>Qualified Sound Technician,
              High Skilled Upholstery Specialists,
              Qualified Auto-Electrician</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack">
          <div class="card-body text-center text-light">
            <h5 class=" lead card-title lightText">Affiliations</h5>
            <p>Gearbox & Diff Specialists,
              Qualified Diesel Mechanic,
              Mechanical Engineering</p>
            <a href="#" class="card-link text-primary">Read More</a>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>

<!-- Accodian -->

<section class="p-5">

  <div class="container">

    <div class=" p-5 d-flex justify-content-center">
      <h3 class="text-center">Frequently Asked Questions</h3>
    </div>

    <div class="accordion accordion-flush" id="questions ">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne">
            Who is in charge of the store?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#questions ">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" >

            Are all your services available on one store?

          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" >

            Is the workshop safe and reliable for my car?

          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Portfolio Section -->
<section class="p-5">


   <div class="container">

    <div class=" p-5 d-flex justify-content-center">
      <h3 class="text-center">Portfolio</h3>
    </div>

  <div class="row">
    <p class="text-center">Content to be added!</p>

  </div>
</div>


</section>

<!-- Contact Section-->
<div class="p-5 night">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <h3 class="text-center text-light ">Contact Info</h3>
        <ul class="list-group list-group-flush lead ">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Main Location: </span>234 Marshall St, City and Suburban, Johannesburg 2094, South Africa

          </li>
        </ul>

        <ul class="list-group list-group-flush lead">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Contact: </span>011 051 0822 / 011 053 1619 083 922 9941

          </li>
        </ul>

        <ul class="list-group list-group-flush lead">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Email: </span>andrewrorke.ar@gmail.com

          </li>
        </ul>

        <ul class="list-group list-group-flush lead">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Website: </span>www.autohub.co.za

          </li>
        </ul>
      </div>

      <div class="col-md-6">


        <!-- <p class="p-5 embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.7081649263528!2d28.052270874544845!3d-26.206170077075345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950e8543f663cf%3A0x6704c03a1cba3bbd!2s234%20Marshall%20St%2C%20City%20and%20Suburban%2C%20Johannesburg%2C%202094!5e0!3m2!1sen!2sza!4v1682175279064!5m2!1sen!2sza" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p> -->

      </div>


    </div>
  </div>
</div>



<!-- Footer Section -->

 <div class="p-4 text-light black text-center position-relative">
  <div class="container">
    <p class="lead">Created By &copy;<span class="tomato-text">SANDIY</span>  | All Rights Reserved.</p>
  </div>

</div>
