<nav class="navbar navbar-expand-lg licorice navbar-dark py-4">
<div class="container">
  <a href="#" class="navbar-brand">AutoHub</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">

        <a href="#home" class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>

      <li class="nav-item">

        <a href="#about" class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
      </li>

      <li class="nav-item">

        <a href="#services" class="nav-link" routerLink="/services" routerLinkActive="active">SERVICES</a>
      </li>

      <li class="nav-item">

        <a href="#portfolio" class="nav-link"routerLink="/portfolio" routerLinkActive="active">PORTFOLIO</a>
      </li>

      <li class="nav-item">

        <a href="#contact" class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>

      <li class="nav-item">

        <a href="#shop" class="nav-link" routerLink="/shop" routerLinkActive="active">SHOP</a>
      </li>
    </ul>
  </div>
</div>
</nav>



