<!-- Footer Section -->

<footer class="footer night text-light">
  <div class="container text-center">
    <p class="lead">&copy;<span class="tomato-text">SANDIY</span>  | All Rights Reserved.</p>

  </div>
</footer>



