<!-- Tyres & Suspension Division -->
<section id="about" class="p-5 maze services">
  <div class="container">

    <h3 class="text-center">Tyres & Suspension Division</h3>


    <div class="row align-items-centre" >

      <div class="col-sm-6 p-5">
        <h4>Product & Services:</h4>
        <br>
        <ul class="lead services">
          <li>
              <p class="text-light" href="">Large Range of Tyre Sales</p>
          </li>
          <li>
              <p class="text-light" href="">Tyre Fitments & Balancing</p>
          </li>
          <li>
              <p class="text-light" href="">Puncture Repair</p>
          </li>

          <li>
            <p class="text-light" href="">Computerized Wheel Alignment</p>
        </li>

        <li>
          <p class="text-light" href="">Suspension Checks & Repairs</p>
        </li>

        </ul>
        </div>

        <div class="col-md-5 p-5">
          <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/2281/8799/products/tyre_fitting_SAC3Q3TBN2KP_f0d76b3e-7c43-4916-a236-4c2fbcc11bde_large.jpg?v=1616372823" alt="">
        </div>


      <div>
      </div>


      </div>




  </div>

</section>
