
@media(min-width: 768px){

  .news-input{
    width: 50%;
  }
}

.lightText{
  color: #f2bb05;
}

.my-component{

  background-color: #eae8ff;  //lavender color


}

.cornelRed{

  background-color: #bd1e1e;
}

.licorice{
  background-color: #141414;
}


.battleship{
  background-color: #f1dabf; // Replace with your desired color value

}

.custom-outline {
  border: 2px solid red;
}

.old-gold{
  color: #e2c044;
}

.tomato{

  background-color: #f85a3e;
}

.tomato-text{

  color: #f85a3e;
}

.richblack{
  // background-color: #001524;

  background-color: #394053;
}

.magnolia{
  background-color: #fcf7ff;
}
.maze{
  background-color: #82968c;
}

div h3{
  text-transform: uppercase;
}

.night
{
  background-color: #0f0f0f;
}

.black{
  background-color: #080705;// pure black
}

li{
  color: #e2c044;

}

.bgTwo{
  background-color: #86BBD8;
}
