  <!-- Parts Division -->
  <section id="about" class="p-5">
    <div class="container">

      <h3 class="text-center">Parts Division</h3>

      <p class="lead text-center">AutoHub Parts stock a large range of new & second hand auto body  and mechanical parts for all vehicles. We continuously building and nurturing long standing relationships and deal directly with auto part importers. This allows us to offer the final consumer good quality parts at wholesale prices. We currently supply auto parts nationwide and to neighbouring African countries as well. Our sales team guarantees to find the part that you require; we live by the motto “If we don’t have, we’ll source it”.
      </p>


      <div class="row align-items-centre" >

        <div class="col-sm-6 p-5">
          <h4>Auto Body Parts:</h4>
          <br>
          <ul class="lead">
            <li>
                <p class="text-dark" href="">Replacement exterior body panels for all light vehicles</p>
            </li>
            <li>
                <p class="text-dark" href="">Second hand exterior body panels</p>
            </li>
            <li>
                <p class="text-dark" href="">Auto accessories for customizing vehicles</p>
            </li>

            <li>
              <p class="text-dark" href="">Replacement windscreens & door glasses (including fitment)</p>
          </li>

          <li>
            <p class="text-dark" href="">Replacement exterior body panels for commercial vehicles.</p>
          </li>

          </ul>

          </div>

          <div class="col-md-5 p-5">
            <img class="img-fluid" src="https://b2091812.smushcdn.com/2091812/wp-content/uploads/AdobeStock_232613676-1024x683.jpg?lossy=1&strip=1&webp=1" alt="">
          </div>






        <div>
        </div>


        </div>

        <div class="row align-items-center">

          <div class="col-md-6 p-5">
            <br>

            <h4>Mechanical Parts:</h4>
            <br>
            <ul class="lead">
              <li>
                <p class="text-dark" href="">Replacement engine parts for all light vehicles</p>
            </li>
              <li>
                  <p class="text-dark" href="">Replacement suspension parts</p>
              </li>
              <li>
                  <p class="text-dark" href="">Replacement mechanical parts for commercial vehicles</p>
              </li>

            </ul>

          </div>

          <div class="col-md-5 p-5">
            <img class="img-fluid" src="https://www.bluetyres.co.uk/assets/images/suspension-repair02.jpg" alt="">
          </div>

          </div>

    </div>


  </section>
