html{
  scroll-behavior: smooth;


}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background: #545454;
  border-radius: 50px;
}

::-webkit-scrollbar-track{
  background: #303030;
}

