<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Other meta tags or head elements -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

</head>


<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>




<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>


<script>
  mapboxgl.accessToken = 'YOUR_MAPBOX_ACCESS_TOKEN';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
</script>

