<!-- Auto-Body Division -->
<section id="about" class="p-5">
  <div class="container">

    <h3 class="text-center">Auto Body Division</h3>

    <p class="lead text-center">AutoHub was established for customer service with no insurance or limited funds to pay high insurance excess costs. These divisions currently consists of a team of highly skilled individuals in their respective processes, which pride themselves on quality workmanship and strive for factory perfection on every vehicle that enters the shop.
    </p>


    <div class="row align-items-centre" >

      <div class="col-sm-6 p-5">
        <h4>Panel Beating and Spray Painting Services:</h4>
        <br>
        <ul class="lead">
          <li>
              <p class="text-dark" href="">Scratch & Dent Specialists( with same day service)</p>
          </li>
          <li>
              <p class="text-dark" href="">Paintless Dent Removal</p>
          </li>
          <li>
              <p class="text-dark" href="">Scratch Repair</p>
          </li>
          <li>
              <p class="text-dark" href="">Bumper Repair</p>
          </li>

          <li>
            <p class="text-dark" href="">Light Accident Damage Repair</p>
          </li>

          <li>
            <p class="text-dark" href="">Heavy Accident Damage Repair</p>
          </li>

          <li>
          <p class="text-dark" href="">Vehicle Detailing & Polishing</p>
          </li>
        </ul>
        </div>

        <div class="col-md-5 p-5">
          <img class="img-fluid" src="https://media.istockphoto.com/id/530507216/photo/auto-body-repair-series-sanding-bumper.jpg?s=612x612&w=0&k=20&c=aeaJKUmF5KxwMWyXhVSYQ6anjtPgqaLTUXuhrE6qt44=" alt="">
        </div>


      <div>
      </div>


      </div>




  </div>


</section>


