<!-- Affiliations -->
<section class="p-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6 p-5">
        <br>

        <h4>Affiliations</h4>
        <br>
        <ul class="lead bullet">
          <li>
              <p class="text-dark" href="">Gearbox & Diff Specialists</p>
          </li>
          <li>
              <p class="text-dark" href="">Qualified Diesel Mechanic</p>
          </li>
          <li>
              <p class="text-dark" href="">Mechanical Engineering</p>
          </li>

        </ul>

      </div>

      <div class="col-md-5 p-5">
        <img class="img-fluid" src="https://jdrcc.org/wp-content/uploads/2019/12/Diesel-Mechanics-Program.png" alt="">
      </div>

      </div>

  </div>
  </section>
