<!-- Services -->

<section class="p-5 text-center text-light text-dark">
  <div class="container">

    <div class=" p-5 d-flex justify-content-center">
      <h3 class="text-center">Services</h3>
    </div>


    <div class="row g-4">


      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Auto-Paint Supply Division</h5>
            <p>AutoHub Paints stock and supply paint and other related products from Luxor.</p>
            <a href="#auto-paint" class="nav-link card-link text-primary" routerLink="/auto-paint" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Auto Body Division</h5>
            <p>AutoHub offers customer service with no insurance or limited funds to pay high insurance excess costs.</p>
            <a href="#auto-body" class="nav-link card-link text-primary" routerLink="/auto-body" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Mechanical Division</h5>
            <p>AutoHub mechanical division was perfectly designed for customers with no motor plan.</p>
            <a href="#mechanical" class="nav-link card-link text-primary" routerLink="/mechanical" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">4X4 Division</h5>
            <p>AutoHub 4X4 Supplies and Fits a large range of 4X4 Accessories and Tow Bars</p>
            <a href="#four-by-four" class="nav-link card-link text-primary" routerLink="/four-by-four" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row g-4 py-4">


      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">Tyres & Suspension Division</h5>
            <p>View a whole range of our Products & Services catered to suit your automotive needs.</p>
            <a href="#tyres-and-suspension" class=" nav-link card-link text-primary" routerLink="/tyres-and-suspension" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">Parts Division</h5>
            <p>AutoHub Parts stock a large range of new & second hand auto body  and mechanical parts for all vehicles.</p>
            <a href="#parts-division" class="nav-link card-link text-primary" routerLink="/parts-division" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack">
          <div class="card-body text-center text-light">
            <h5 class=" lead card-title lightText">On Site Affiliations</h5>
            <p>Qualified Sound Technician,
              High Skilled Upholstery Specialists,
              Qualified Auto-Electrician</p>
            <a href="#on-site-affiliations" class="nav-link card-link text-primary" routerLink="/on-site-affiliations" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack">
          <div class="card-body text-center text-light">
            <h5 class=" lead card-title lightText">Affiliations</h5>
            <p>Gearbox & Diff Specialists,
              Qualified Diesel Mechanic,
              Mechanical Engineering</p>
            <a href="#affiliations" class="nav-link card-link text-primary" routerLink="/affiliations" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>
