
@media(min-width: 768px){

  .news-input{
    width: 50%;
  }
}

.lightText{
  color: #f2bb05;
}

.my-component{

  background-color: #eae8ff;  //lavender color


}

.cornelRed{

  background-color: #bd1e1e;
}

.licorice{
  background-color: #141414;
}


.battleship{
  background-color: #f1dabf; // Replace with your desired color value

}

.custom-outline {
  border: 2px solid red;
}

.old-gold{
  color: #e2c044;
}

.tomato{

  background-color: #f85a3e;
}

.richblack{
  // background-color: #001524;

  background-color: #394053;
}

.magnolia{
  background-color: #fcf7ff;
}
.maze{
  background-color: #82968c;
}

h3{
  text-transform: uppercase;
}
li{
  color: #e2c044;

}

.bgOne{
  background-color: #33658A;
}

h4{
  text-transform: uppercase;
}

.bgTwo{
  background-color: #86BBD8;
}

.bgThree{
  background-color: #F6AE2D;
}

.bgFour{
  background-color: #F26419;
}
