<!-- Mechanical Division -->
<section id="about" class="p-5 bgTwo ">
  <div class="container">

    <h3 class="text-center">Mechanical Division</h3>

    <p class="lead text-center text-light">AutoHub mechanical division was perfectly designed for customers with no motor plan, for them to receive good quality maintenance on their vehicle for a reasonable charge.
    </p>


    <div class="row align-items-centre" >

      <div class="col-sm-6 p-5">
        <h4>Mechanical Services:</h4>
        <br>
        <ul class="lead">
          <li>
              <p class="text-light" href="">Vehicle maintenance services.</p>
          </li>
          <li>
              <p class="text-light" href="">Vehicle diagnosis</p>
          </li>
          <li>
              <p class="text-light" href="">Engine overhauls on petrol vehicles.</p>
          </li>
        </ul>
        </div>

        <div class="col-md-5 p-5">
          <img class="img-fluid" src="https://www.carcility.com/blog/wp-content/uploads/2022/02/Your-Car-Service-Checklist.jpg" alt="">
        </div>


      <div>
      </div>


      </div>




  </div>


</section>
