<!-- Shop Section -->
<section class="p-5">


  <div class="container">

   <div class=" p-5 d-flex justify-content-center">
     <h3 class="text-center">Shop</h3>
   </div>

 <div class="row">
   <p class="text-center">Content to be added!</p>

 </div>
</div>


</section>

