<!-- Home Section -->
<section class="licorice text-light  pt-lg-5 text.center text-sm-start" style="height: 60vh;">
  <div class="container">
    <div class="d-sm-flex p-5 align-items-center justify-content-between">
      <div class="my-5">
        <h2 class="my-2">The <span class="old-gold">Automotive Revolution</span></h2>
        <button class="btn cornelRed text-light btn-md" id="shop">Shop Online</button>
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="" alt="">
    </div>
  </div>
</section>

<!-- Newsletter -->

<section class="bg-warning text-light p-5">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center">
      <h2 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h2>

      <div class="input-group news-input">
        <input type="text" class="form-control" placeholder="Enter Email">
        <button class="btn btn-dark" type="button">Submit</button>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->

<section id="about" class="p-5">
  <div class="container">
    <div class="row" >

      <div class="col-md-6 py-5">


      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.jdpower.com/ArticleImages/2019%20Porsche%20Cayenne%20Turbo%20_3_720.jpg" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.jdpower.com/JDP_2024%20Cadillac%20XT4%20Front%20Quarter%20View%20Action.jpg" class="img-fluid" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.jdpower.com/2024%20Mercedes-Benz%20E-Class%20AMG%20Line%20Front%20Quarter%20View%20European%20model.jpg" class="img-fluid" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

      <div class="col-md-6 p-5">
        <h3>About Us</h3>
        <p class="lead">AutoHub has become the epitome of a one-stop automotive shop, satisfying all your automotive needs under one roof. Rorke’s Autoworld, now known as AutoHub was established in 2010 as a hobby out of a double garage on a farm in Walkerville, south of Johannesburg. Driven by a Passion to Innovate the automotive industry for customer convenience and satisfaction. The company was registered in 2014 and moved premises to a 200m automotive hub based in the heart of Johannesburg CBD. AutoHub consists of interrelated automotive divisions to ensure every possible automotive need is satisfied all at the convenience of a centralized location. Each Division consists of highly skilled, ambitious staff that have all aligned themselves with the vision of the organization. They are all driven by the same passion to innovate the automotive industry and satisfy all customer’s needs through quality and reliable workmanship.
        </p>


        <a href="#" class="btn btn-light mt-3" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>Read More</a>
      </div>
    </div>

  </div>


</section>

<!-- Services -->

<section class="p-5 text-center text-light text-dark">
  <div class="container">

    <div class=" p-5 d-flex justify-content-center">
      <h3 class="text-center">Services</h3>
    </div>


    <div class="row g-4">


      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Auto-Paint Supply Division</h5>
            <p>AutoHub Paints stock and supply paint and other related products from Luxor.</p>
            <a href="#auto-paint" class="nav-link card-link text-primary" routerLink="/auto-paint" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Auto Body Division</h5>
            <p>AutoHub offers customer service with no insurance or limited funds to pay high insurance excess costs.</p>
            <a href="#auto-body" class="nav-link card-link text-primary" routerLink="/auto-body" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class=" lead card-title lightText">Mechanical Division</h5>
            <p>AutoHub mechanical division was perfectly designed for customers with no motor plan.</p>
            <a href="#mechanical" class="nav-link card-link text-primary" routerLink="/mechanical" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">4X4 Division</h5>
            <p>AutoHub 4X4 Supplies and Fits a large range of 4X4 Accessories and Tow Bars</p>
            <a href="#four-by-four" class="nav-link card-link text-primary" routerLink="/four-by-four" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row g-4 py-4">


      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">Tyres & Suspension Division</h5>
            <p>View a whole range of our Products & Services catered to suit your automotive needs.</p>
            <a href="#tyres-and-suspension" class=" nav-link card-link text-primary" routerLink="/tyres-and-suspension" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack text-light">
          <div class="card-body text-center">
            <h5 class="lead card-title lightText">Parts Division</h5>
            <p>AutoHub Parts stock a large range of new & second hand auto body  and mechanical parts for all vehicles.</p>
            <a href="#parts-division" class="nav-link card-link text-primary" routerLink="/parts-division" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack">
          <div class="card-body text-center text-light">
            <h5 class=" lead card-title lightText">On Site Affiliations</h5>
            <p>Qualified Sound Technician,
              High Skilled Upholstery Specialists,
              Qualified Auto-Electrician</p>
            <a href="#on-site-affiliations" class="nav-link card-link text-primary" routerLink="/on-site-affiliations" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="card py-2 richblack">
          <div class="card-body text-center text-light">
            <h5 class=" lead card-title lightText">Affiliations</h5>
            <p>Gearbox & Diff Specialists,
              Qualified Diesel Mechanic,
              Mechanical Engineering</p>
            <a href="#affiliations" class="nav-link card-link text-primary" routerLink="/affiliations" routerLinkActive="active">Read More</a>
          </div>
        </div>
      </div>

    </div>


  </div>

</section>

<!-- Portfolio Section -->
<section class="p-5">


  <div class="container">

   <div class=" p-5 d-flex justify-content-center">
     <h3 class="text-center">Portfolio</h3>
   </div>


   <div class="container">
    <div class="row g-4">
      <div class="col-sm-3 img-fluid">
        <img src="https://www.carscoops.com/wp-content/uploads/2017/05/80795d68-vw-golf-gti-7-performance-mac-audio-tuning-14-1024x683.jpg" class="img-fluid">
      </div>

      <div class="col-sm-3 img-fluid">
        <img src="https://carsales.pxcrush.net/carsales//car/dealer/3hs3e2ph06l0pic05dsnffrag.jpg" class="img-fluid">
      </div>

      <div class="col-sm-3 img-fluid">
        <img src="https://hips.hearstapps.com/hmg-prod/images/1997-mercedes-benz-c43-amg-bat-64491caed5613.jpg" class="img-fluid">
      </div>

      <div class="col-sm-3 img-fluid">
        <img src="https://img-ik.cars.co.za/news-site-za/images/2022/11/Toyota-Corolla-Hybrid-1011.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</div>


</section>



<!-- Contact Section-->
<div class="p-5 night">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <h3 class="text-center text-light ">Contact Info</h3>
        <ul class="list-group list-group-flush lead ">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Main Location: </span>234 Marshall St, City and Suburban, Johannesburg 2094, South Africa

          </li>
        </ul>

        <ul class="list-group list-group-flush lead">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Contact: </span>011 051 0822 / 011 053 1619 083 922 9941

          </li>
        </ul>

        <ul class="list-group list-group-flush lead">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Email: </span>andrewrorke.ar@gmail.com

          </li>
        </ul>

        <ul class="list-group list-group-flush lead">
          <li class="list-group-item night text-light">
            <span class="fw-bold">Website: </span>www.autohub.co.za

          </li>
        </ul>
      </div>

      <div class="col-md-6">


        <!-- <p class="p-5 embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.7081649263528!2d28.052270874544845!3d-26.206170077075345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950e8543f663cf%3A0x6704c03a1cba3bbd!2s234%20Marshall%20St%2C%20City%20and%20Suburban%2C%20Johannesburg%2C%202094!5e0!3m2!1sen!2sza!4v1682175279064!5m2!1sen!2sza" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </p> -->

      </div>


    </div>
  </div>
</div>

