<!-- On-site-Affiliations -->

<section id="about" class="p-5 tomato text-dark">
  <div class="container">

    <!-- <h3 class="text-center">Affiliations</h3> -->


    <div class="row align-items-centre" >

      <div class="col-sm-6 p-5">
        <h4>On Site Affiliations</h4>
        <br>
        <ul class="lead bullet">
          <li>
              <p class="text-light" href="">Replacement exterior body panels for all light vehicles</p>
          </li>
          <li>
              <p class="text-light" href="">Second hand exterior body panels</p>
          </li>
          <li>
              <p class="text-light" href="">Auto accessories for customizing vehicles</p>
          </li>

          <li>
            <p class="text-light" href="">Replacement windscreens & door glasses (including fitment)</p>
        </li>

        <li>
          <p class="text-light" href="">Replacement exterior body panels for commercial vehicles.</p>
        </li>

        </ul>

        </div>

        <div class="col-md-5 p-5">
          <img class="img-fluid" src="https://cdn.24.co.za/files/Cms/General/d/8479/a489b1cbc03a4335a87fa3ff598da7d7.jpg" alt="">
        </div>

      <div>
      </div>
  </div>
  </div>


</section>
